<!DOCTYPE HTML>
<html>

<head>
	<title>書贏●購物車</title>
	<%- include('./partials/header.ejs') %>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">
			<div class="container">

				<!-- Logo -->
				<h1 id="logo"><a href="/cart">書贏●購物車</a></h1>
				<%- include('./partials/nav.ejs') %>
					<!-- Main -->
					<section id="main">
						<div class="container">
							<div class="row">

								<!-- Sidebar -->
								<div id="sidebar" class="col-4 col-12-medium">

									<section>
										<ul class="divided">
											<li>

												<!-- Excerpt -->
												<article class="box excerpt">
													<header>
														<span class="date" href="/cart">我的購物車</span>
														<h3><a href="/cart">快來把商品帶回家</a></h3>
													</header>
												</article>

											</li>

											<li>
												<!-- Excerpt -->
												<article class="box excerpt">
													<header>
														<span class="date" href="/collect">我的收藏</span>
														<h3><a href="/collect">快來把收藏加入購物車</a></h3>
													</header>
												</article>

											</li>

											<li>
												<!-- Excerpt -->
												<article class="box excerpt">
													<header>
														<span class="date" href="/order">我的訂單</span>
														<h3><a href="/order">查看我的訂單</a></h3>
													</header>
												</article>

											</li>

									</section>
								</div>
								<!-- Content -->
								<div id="content" class="col-8 col-12-medium imp-medium">
									<!-- Post -->
									<article class="box post">

										<p><%=cartstatus%></p>

										<%if (cartbook) { %>
											<table>
												<% for(var i=0; i < cartbook.length ; i++) { %>
													<div class="col-8 col-12-medium imp-medium" id="name">
														<header>
															<h3><a href="/product">
																	<%=cartbook[i].book_name%>
																</a></h3>
														</header>
													</div>
													<a href="/product" class="image left"><img
															src="../static/images/pic10.jpg" alt=""></a>
													<p class="bid" id="bid">書籍編號：<%= result[i].book_id%></p>
													<p class="author">作者：<%= result[i].book_author%></p>
													<p class="price">價錢：<%= result[i].book_price%></p>
													<ul class="actions">
														<li>
															<div class="display-flex">
																<div id="addcollect"
																	class="col-8 col-12-medium imp-medium">
																	<a href="/collect"
																		class="button style1 large">加入收藏</a>
																</div>
																<a>&nbsp</a>
																<div id="outcart"
																	class="col-8 col-12-medium imp-medium">
																	<a href="/cart/del/<%= result[i].book_id%>" class="button style2 large">移除購物車</a>
																</div>
															</div>
														</li>
													</ul>
													<% } %>
											</table>
										<% } %>

									</article>
									<h1>--------------------------------------------------------------------------------------------</h1>
									
									<div class="col-12-medium col-24-small" id="money">
										<h1>
											<p>總共<strong>
													<%=total%>
												</strong>元</p>
										</h1>
									</div>
									<div class="col-8 col-24-small" id="checkout">
										<a href="/checkout" class="button style2 large">結帳</a>
									</div>
									
									<%if (!cartbook) {%>
										<section id="features">
											<div class="container">
												<header>
													<h2> <strong>目前購物車沒有商品喔</strong>!</h2>
												</header>
											</div>
											<div class="col-8 col-24-small">
												<a href="/home" class="button style2 large">去首頁逛逛</a>
											</div>
										</section>
									<%}%>


								</div>

								</article>
							</div>
						</div>
					</section>
					<!-- Footer -->
					<%- include('./partials/footer.ejs') %>

			</div>

			<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.dropotron.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

</body>

</html>