<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●會員頁面</title>
		<%- include('./partials/header.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
					<!-- Logo -->
						<h1 id="logo"><a href="/member">書贏●會員頁面</a></h1>
						<%- include('./partials/nav.ejs') %>
	
					<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="col-4 col-12-medium">

										<section>
											<ul class="divided">
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" >我的錢包</span>
															</header>
															<nobr>
																<p>目前擁有</p>
																<div class="box excerpt" id="bookcoin">
																	<p><strong><%=bookcoin%></strong></p>
																</div>
																<p>book幣</p>
															</nobr>
														</article>
												</li>
												
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="#">每日簽到</span>
																<div class="box excerpt" id="signin">
																	<h3><a href="#" class="button style1">點擊簽到</a></h3>
																</div>
															</header>
														</article>

												</li>
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/chbook">交換書功能</span>
																<h3><a href="/chbook">讓您與書友友進一步交流</a></h3>
															</header>
														</article>

												</li>
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/rebook">回收書功能</span>
																<h3><a href="/rebook">讓書呈現善的循環</a></h3>
															</header>
														</article>

												</li>
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/wishlist">許願功能</span>
																<h3><a href="/wishlist">許下你想購買的書</a></h3>
															</header>
														</article>

												</li>
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/order">我的訂單</span>
																<h3><a href="/order">查看我的訂單狀態</a></h3>
															</header>
														</article>

												</li>
											</ul>
										</section>

								

								</div>

							<!-- Content -->
								<div id="content" class="col-8 col-12-medium imp-medium">
									<!-- Post -->
										<article class="box post">
											<header>
												<h2>會員資訊</h2>
											</header>
											<span class="image featured"><img src="images/pic04.jpg" alt="" /></span>
											<h3>我的姓名</h3>
											<div class="input-with-name"><input type="text" placeholder="" maxlength="255" value="<%=name%>"></div>
											<p>  </p>
											<h3>E-mail</h3>
											<div class="input-with-mail"><input type="text" placeholder="" maxlength="255" value="<%=email%>"></div>
											<p>  </p>
											<h3>電話號碼</h3>
											<div class="input-with-phone"><input type="text" placeholder="" maxlength="255" value="<%=phone%>"></div>
											<p>  </p>
											<h3>更改密碼</h3>
											<div class="input-with-password"><input type="text" placeholder="" maxlength="255" value="<%=password%>"></div>
										</article>
										<p>  </p>
										<div class="edit"><h3><a href="#" class="button style1">編輯完成</a></h3></div>

								</div>

						</div>
					</div>
				</section>
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>

		</div>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>