<!DOCTYPE HTML>
<html>

<head>
	<title>書贏●會員頁面</title>
	<%- include('./partials/header.ejs') %>
</head>
<body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header">
			<div class="container">
				<!-- Logo -->
				<h1 id="logo"><a href="/member">書贏●會員頁面</a></h1>
				<%- include('./partials/nav.ejs') %>
			</div>
		</section>
					<!-- Main -->
					<section id="main">
						<div class="container">
							<div class="row">
								<!-- Sidebar -->
								<div id="sidebar" class="col-4 col-12-medium">
    								<section>
        								<ul class="divided">
											<%- include('./partials/mempart.ejs') %>
											<li>
											<!-- Excerpt -->
												<article class="box excerpt">
													<a href="/cart">
														<div class="display-flex">
															<img src="../static/images/cart.png" href="/cart"
																style="width:80px;height:80px;" alt="我的購物車">
															<div href="/cart">
																<br>
																<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我的購物車</p>
															</div>
														</div>
													</a>
												</article>
											</li>
											<li>
												<!-- Excerpt -->
												<article class="box excerpt">
													<a href="/collect">
														<div class="display-flex">
															<img src="../static/images/collect.png" href="/collect"
																style="width:80px;height:80px;" alt="我的收藏">
															<div href="/collect">
																<br>
																<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我的收藏</p>
															</div>
														</div>
													</a>
												</article>
											</li>
											<li>
												<!-- Excerpt -->
												<article class="box excerpt">
													<a href="/member/myrebook">
														<div class="display-flex">
															<img src="../static/images/rebookcheck.png" href="/member/myrebook"
																style="width:80px;height:80px;" alt="我的回收書">
															<div href="/member/myrebook">
																<br>
																<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我的回收書</p>
															</div>
														</div>
													</a>
												</article>
											</li>
											<li>
												<!-- Excerpt -->
												<article class="box excerpt">
													<a href="/member/mychbook">
														<div class="display-flex">
															<img src="../static/images/mychbook.png" href="/member/mychbook"
																style="width:80px;height:80px;" alt="我的交換書">
															<div href="/member/mychbook">
																<br>
																<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我的交換書</p>
															</div>
														</div>
													</a>
												</article>
											</li>
									</section>
								</div>

								<!-- Content -->
								<div id="content" class="col-8 col-12-medium imp-medium">
									<!-- Post -->
									<form action="/member/update" method="POST">
										<article class="box post">
											<div class="display-flex-1">
												<header>
													<h2>會員資訊</h2>
												</header>
												<a>&nbsp</a><a>&nbsp</a><a>&nbsp</a><a>&nbsp</a><a>&nbsp</a>
												<div id="logout">
													<a href="/member/logout" class="button style2 large"
														style="width:165px;height:50px;font-size:13px;">登出</a>
												</div>
											</div>
											<span class="image featured">
												<img src="../static/images/pic14.jpg" alt="我的照片">
											</span>
											<h3>我的姓名</h3>
											<div class="input-with-name">
												<input type="text" placeholder="" axlength="255" value="<%=name%>" name="name"
													required="true">
											</div>
											<p> </p>
											<h3>電話號碼</h3>
											<div class="input-with-phone">
												<input type="text" placeholder="" maxlength="255" value="<%=phone%>" name="phone"
													required="true">
											</div>
											<p> </p>

											<h3>更改密碼</h3>
											<div class="input-with-password">
												<input type="password" placeholder="輸入欲更改的密碼" maxlength="255" name="newpass" required="true">
											</div>

											<div class="input-with-password">
												<input type="password" placeholder="再次輸入更改密碼" maxlength="255" name="newpass2" required="true">
											</div>

											<p></p>
											<h3>輸入現在密碼</h3>
											<div class="input-with-password">
												<input type="password" placeholder="輸入密碼" maxlength="255" name="password" required="true">
											</div>

										</article>
										<p> </p>
										<div class="edit">
											<h3><input type="submit" value="編輯完成"></h3>
										</div>
										<p>
											<%= updatestatus %>
										</p>
									</form>
								</div>

							</div>
						</div>
					</section>
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>

		

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>
	</div>
</body>

</html>