<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●我的訂單</title>
		<%- include('./partials/header.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
					<!-- Logo -->
						<h1 id="logo"><a href="/home">書贏●我的訂單</a></h1>
						<%- include('./partials/nav.ejs') %>
	
					<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="col-4 col-12-medium">
										<section>
											<ul class="divided">
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<a href="/cart" >
																<div class="display-flex">
																	<img src="../static/images/cart.png" href="/cart" style="width:80px;height:80px;" alt="我的購物車">
																	<div href="/cart">
																		<br><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我的購物車</p>
																	</div>
																</div>
															</a>
														</article>
												</li>
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<a href="/collect" >
																<div class="display-flex">
																	<img src="../static/images/collect.png" href="/collect" style="width:80px;height:80px;" alt="我的收藏">
																	<div href="/collect">
																		<br><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我的收藏</p>
																	</div>
																</div>
															</a>
														</article>
												</li>
	
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<a href="/order" >
																<div class="display-flex">
																	<img src="../static/images/list.png" href="/order" style="width:80px;height:80px;" alt="我的訂單">
																	<div href="/order">
																		<br><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我的訂單</p>
																	</div>
																</div>
															</a>  
														</article>
												</li>
	
												
										</section>
								</div>				
						<!-- Content -->
							<div id="content" class="col-8 col-12-medium imp-medium">
								<!-- Post -->
									<div class="container_1">
										<header>
											<h1><font size=8>訂單資訊</font></h1>
										</header>
									</div>	
									<br>
										<div class="box post" style="height: 10px ;">
											<div class="container_1">
											<a size=10 href="#1"  style="font-size:25px;">未完成</a>
											<a>&nbsp&nbsp&nbsp</a>
											<a size=10 href="#2" style="font-size:25px;">已完成</a>
											</div>
										</div>
										
									<%if (result.length>=1) { %>
									<% for (let i = 0 ; i < result.length ; i++ ) { %>
										<article class="box post" >
										<div class="pricing-item_1">
										<div id="pic" class="col-6 col-12-medium imp-medium">
											
											<!--<a href="/product/<%= result[i].order_no %> " class="image left"><img src="/static/BookImg/<%= result[i].order_no %> " alt=""></a>-->
										</div>
										<div>
											<p class="border-button_1" style="font-size:30px;height:50px;">訂單編號： <%= result[i].order_id %></p><br>
											<p class="word_1" style="height:5px;">用戶帳號： <%= result[i].email %></p><br>
											<p class="word_1" style="height:5px;">收件人  ： <%= result[i].order_name %></p><br>
											<p class="word_1" style="height:5px;">地址： <%= result[i].order_address %></p><br>
										</div>
										</div>
										</article>
									<% } %>
									<% } %>	
									<%if (result.length<1) {%>
										<section id="features">
											<div class="container">
												<header>
													<h2> <strong>目前沒有訂單</strong>!</h2>
												</header>
											</div>
											<div class="col-8 col-24-small">
												<a href="/home" class="button style2 large">去首頁逛逛</a>
											</div>
										</section>
									<%}%>
							</div>
							
							</article>
					</div>
				</div>
			</section>
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>	

		</div>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>