<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●我的訂單</title>
		<%- include('./partials/header.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
					<!-- Logo -->
						<h1 id="logo"><a href="/home">書贏●我的訂單</a></h1>
						<%- include('./partials/nav.ejs') %>
	
					<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="col-4 col-12-medium">
										<section>
											<ul class="divided">
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/cart">我的購物車</span>
																<h3><a href="/cart">快來把商品帶回家</a></h3>
															</header>
														</article>

												</li>

												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/collect">我的收藏</span>
																<h3><a href="/collect">快來把收藏加入購物車</a></h3></header>
														</article>

												</li>

												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/order">我的訂單</span>
																<h3><a href="/order">查看我的訂單</a></h3>
															</header>
														</article>

												</li>
												
										</section>
								</div>				
						<!-- Content -->
							<div id="content" class="col-8 col-12-medium imp-medium">
								<!-- Post -->
										<header>
											<h3>訂單資訊</h3>
										</header>
									<% for (var i=0 ; i < 1 ; i++) { %>	
									<article class="box post">
	
										<div class="box post">
											<a size=10 href="#1">未完成</a>
											<a>&nbsp&nbsp&nbsp</a>
											<a size=10 href="#2">已完成</a>
										</div>
										<div>
											<a href="#" class="image featured"><img src="/static/BookImg/<%= result[i].book_img %>" alt="" /></a>
											<h3><a class="name" id="name">商品名稱:<%= result[i].book_name %> </a></h3>
											<p class="author" id="author">作者：<%= result[i].book_author %></p>
											<p class="price" id="price">價錢：<%= result[i].book_price%> </p>
											<p class="orderstatus" id="orderstatus">出貨狀態:<%= result[i].book_orderstatus %></p>
										</div>
										<br>
									<% } %>
									</article>
							</div>
							
							</article>
					</div>
				</div>
			</section>
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>	

		</div>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>