<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●我的訂單</title>
		<%- include('./partials/header.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
					<!-- Logo -->
						<h1 id="logo"><a href="/home">書贏●我的訂單</a></h1>
						<%- include('./partials/nav.ejs') %>
	
					<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="col-4 col-12-medium">
										<section>
											<ul class="divided">
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/cart">我的購物車</span>
																<h3><a href="/cart">快來把商品帶回家</a></h3>
															</header>
														</article>

												</li>

												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/collect">我的收藏</span>
																<h3><a href="/collect">快來把收藏加入購物車</a></h3></header>
														</article>

												</li>

												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="/order">我的訂單</span>
																<h3><a href="/order">查看我的訂單</a></h3>
															</header>
														</article>

												</li>
												
										</section>
								</div>				
						<!-- Content -->
							<div id="content" class="col-8 col-12-medium imp-medium">
								<!-- Post -->
									<div class="container_1">
										<header>
											<h1><font size=8>訂單資訊</font></h1>
										</header>
									</div>	
									<br>
										<div class="box post" style="height: 15px ;">
											<div class="container_1">
											<a size=10 href="#1" class="main-button_1" style="font-size:25px;">未完成</a>
											<a>&nbsp&nbsp&nbsp</a>
											<a size=10 href="#2" class="main-button_1" style="font-size:25px;">已完成</a>
											</div>
										</div>
										
									
									<% for (let i = 0 ; i < result.length ; i++ ) { %>
										<article class="box post" >
										<div class="pricing-item_1">
										<div id="pic" class="col-6 col-12-medium imp-medium">
											
											<a href="/product/<%= result[i].order_no %> " class="image left"><img src="/static/BookImg/<%= result[i].order_no %> " alt=""></a>
										</div>
										<div>
											<p class="border-button_1" style="font-size:30px;">訂單編號： <%= result[i].order_id %></p><br>
											<p>用戶帳號： <%= result[i].email %></p><br>
											<p>收件人  ： <%= result[i].order_name %></p><br>
											<p>地址： <%= result[i].order_address %></p><br>
										</div>
										</div>
										</article>
									<% } %>
							</div>
							
							</article>
					</div>
				</div>
			</section>
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>	

		</div>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>