<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●商品頁面</title>
		<%- include('./partials/header.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
					<!-- Logo -->
						<h1 id="logo"><a href="/product">書贏●二手書回收</a></h1>
						<%- include('./partials/nav.ejs') %>
	
					<!-- Main -->
					<section id="main">
						<div class="container">
							<div class="row">
								<!-- Highlight -->
								<article class="box highlight">
									<div class="display-flex">
										<a href="#" class="image left">
											<img src="/static/BookImg/<%= result.book_img %>" alt="" style="width:350px;height:500px;">
										</a>
										<div>
											<br>
											<header><h3><a href="../product/product.html" class="name" id="name"><%= result.book_name %></a></h3></header><br>
											<div class="display-flex">書籍編號：	
												<a class="bid" id="bid"><%= result.book_id %></a>
											</div><br>
											<div class="display-flex">作者：
												<a class="writer" id="writer"><%= result.book_author %></a>
											</div><br>
											<div class="display-flex">價錢：
												<a class="price" id="price"><%= result.book_price %></a>
											</div><br>	
											
											<ul class="actions">
												<div class="display-flex">
														<div id="addcollect" class="col-8 col-12-medium imp-medium"><a href="/collect/add/<%= result.book_id %> " class="button style1 large">加入收藏</a></div>
														<a>&nbsp</a>
														<div id="addcart" class="col-8 col-12-medium imp-medium"><a href="/cart/add/<%= result.book_id %> " class="button style2 large">加入購物車</a></div>
												</div>
											</ul>
											<div id="addcart" class="col-8 col-12-medium imp-medium"><a href="/cart/buy/<%= result.book_id %> " class="button style2 large" style="width:360px;height:60px;font-size:20px;">購買</a></div>
										</li>
										</div>
									</div>
									<div class="">
										<p><strong>商品描述：</strong><br><%= result.book_intro %></p>
									</div>
								</div>
									
									
								</article>
								

							</div>
						</div>
					</section>		
			

							
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>	
		</div>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>