<!DOCTYPE HTML>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<html>

<head>
	<title>書贏●分類</title>
	<%- include('./partials/header.ejs') %>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">
			<div class="container">

				<!-- Logo -->
				<h1><a href="/classification" id="logo">書贏●分類</a></h1>
				<%- include('./partials/nav.ejs') %>

					<!-- books -->
					<section id="features">
						<header class="style1">
							<h2>搜尋結果</h2>
						</header>
						<!-- books1 -->
						<div class="container">
							<% if (result.length != 0) { %> 
								<div class="row aln-center">
									<% for (var i=0 ; i < result.length ; i++) { %>
										<div class="col-3 col-12-medium">
											<section class="books">
												<a href="/product/<%= result[i].book_id%>" class="image featured">
													<img class="imgsrc" src="/static/BookImg/<%=result[i].book_img%>" alt=""
														style="width:240px;height:310px;">
												</a>
												<h3><a class="name" id="name">商品名稱:<%=result[i].book_name%> </a></h3>
												<p class="author" id="author">作者：<%=result[i].book_author%>
												</p>
												<p class="price" id="price">價錢：<%=result[i].book_price%>
												</p>
												<ul class="actions">
													<li>
														<div class="display-flex">
															<div id="addcollect" class="col-8 col-12-medium imp-medium">
																<a href="/collect" class="button style1 large"
																	style="width:120px;height:40px;font-size:8px;">加入收藏</a>
															</div>
															<a>&nbsp</a>

															<div id="addcart" class="col-8 col-12-medium imp-medium">
																<a href="/cart/add/<%= result[i].book_id%>"
																	class="button style2 large"
																	style="width:120px;height:40px;font-size:8px;">加入購物車</a>
															</div>
														</div>
													</li>
												</ul>
											</section>
										</div>
									<% } %>
								</div>
							<% } %> 
							<% if (result.length == 0) { %> 
								<div class="row aln-center">
									<div class="col-3 col-12-medium">
										<section class="books">
											<h3><strong>查無商品資訊</strong></h3>
										</section>
									</div>
								</div>
							<% } %> 
						</div>
					</section>

			</div>
		</section>
		<!-- Footer -->
		<%- include('./partials/footer.ejs') %>
	</div>

	<!-- Scripts -->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/jquery.dropotron.min.js"></script>
	<script src="../static/js/browser.min.js"></script>
	<script src="../static/js/breakpoints.min.js"></script>
	<script src="../static/js/util.js"></script>
	<script src="../static/js/main.js"></script>

</body>

</html>